@charset "UTF-8";

/* versão mobile first */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin:0px ;
    padding: 0px;
    box-sizing: border-box;
}

body,html {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url(../imagens/back-phone.jpg) ;
    background-color: black;
    background-repeat: repeat;
}
main {
    background-color: rgba(255, 255, 255, 0.468);
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
img#phone { display: none; } 
img#tablet {display: none; }
img#print { display: none; } 
img#pc { display: none; }
img#tv { display: none; }